.form-register,
.form-login {
  @apply w-full h-full;
  @apply px-3;

  label,
  input {
    @apply block rounded-md;
  }

  input {
    @apply w-full h-[40px];
    @apply pl-3;
    @apply border-2;
  }

  .submit-btn {
    @apply w-full;
    @apply text-center;
    @apply py-1 mt-3;
    @apply rounded-md;
  }
}

.welcome-view {
  @apply px-10;
  .announce {
    background-color: var(--bg-c);
    box-shadow: var(--shadow);
    
    @apply w-full;
    @apply rounded-full;
    @apply text-xl;
    @apply px-5 py-3;
    @apply flex items-center gap-3;

    .title {
      @apply w-fit;
      @apply shrink-0;
    }

    .detail {
      @apply flex-grow;
      @apply overflow-hidden;
      @apply relative;

      &::before,
      &::after {
        content: '';
        @apply absolute top-0;
        @apply w-[50px] h-full;
      }

      &::before {
        @apply left-0 z-10;
      }

      &::after {
        @apply right-0 z-10;
      }

      .-container {
        animation: move-announce infinite linear;
        animation-duration: 40s;
        @apply whitespace-nowrap;
      }
    }
  }

  .welcome-board {
    background-color: var(--bg-c);
    box-shadow: var(--shadow);

    @apply w-fit min-w-[600px] h-[300px];
    @apply rounded-lg;
    @apply mt-4 p-9 mx-auto;

    .title-icon {
      font-size: 75px;
      @apply w-[100px] h-[100px];
    }

    * {
      @apply m-auto;
    }

    .title {
      @apply mt-4;
      @apply text-4xl text-center;
    }

    .options {
      @apply w-fit;
      @apply m-auto mt-5;
      @apply flex gap-2 justify-between items-center;

      .option {
        @apply px-3 py-2;
        @apply transition;
        @apply rounded-lg;
      }
    }
  }

  .main {
    @apply max-w-[900px];
    @apply xl:flex xl:justify-between gap-3;
    @apply mx-auto;

    .new-record-list {
      background-color: var(--bg-c);
      box-shadow: var(--shadow);

      @apply w-full max-w-[1000px];
      @apply rounded-xl;
      @apply mx-auto mt-10;
      @apply overflow-hidden;

      .board-header {
        background-color: var(--bg-lg-c);
      }

      .title {
        @apply w-full;
        @apply px-4 py-4;
        @apply text-2xl font-bold;
        @apply flex items-center;
      }


      .main {
        @apply grid grid-cols-2 gap-3;
        @apply xl:grid-cols-3;
        @apply p-3;

        .--soku-skeleton {
          @apply w-full h-[200px];
          @apply overflow-hidden;
          @apply rounded-md;
          @apply cursor-pointer;

          .one-announce {
            background-color: var(--bg-lg-c);

            @apply w-full h-full;
            @apply flex flex-col items-center justify-center;

            .title {
              @apply w-fit;
            }

            .avatars {
              @apply flex items-center justify-around;
              .avatar {
                @apply w-[75px] h-[75px];
                @apply rounded-full;
              }
            }

            .time {
              @apply w-fit;
              @apply mx-auto mt-4;
            }
          }
        }
      }
    }
  }
}

@keyframes move-announce {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-200%);
  }
}
