.user-profile {
  @apply px-10;

  .-container {
    background-color: var(--bg-c);

    @apply w-full max-w-[1000px] h-fit;
    @apply rounded-sm overflow-hidden;
    @apply shadow-lg;
    @apply mx-auto;

    .header {
      aspect-ratio: 3 / 1;
      @apply overflow-hidden;

      .background {
        @apply w-full;
        @apply -translate-y-1/3;
      }
    }

    .profiles {
      .profiles-container {
        @apply max-w-[500px];
        @apply mx-0;
        @apply -translate-y-1/2 translate-x-20;
        @apply flex gap-5;

        .avatar {
          @apply w-[100px] h-[100px];
          @apply rounded-full;
          @apply overflow-hidden;
          @apply ring-2 ring-white;
        }

        .sign {
          @apply h-[100px];

          .name,
          .signature {
            @apply h-1/2;
          }

          .name {
            @apply flex items-center;
            @apply text-3xl font-bold;
            text-shadow: var(--shadow);
          }

          .signature {
            @apply font-thin text-xl;
          }
        }
      }
    }

    .nav {
      ul {
        @apply flex justify-start items-center gap-3;
        @apply text-xl font-thin;
        @apply pb-3 pl-3;
      }
    }

    .nav-view {
      background-color: var(--bg-c);
      @apply w-full;
      @apply p-3;
    }
  }
}

.router-link-active {
  background-color: var(--soku-router-link-active-c);
}

.router-link {
  @apply rounded-md;
  @apply transition;
  @apply px-4 py-2;
}

.router-link:hover {
  background-color: var(--soku-router-link-hover-c);
}
