.--soku-skeleton {
  @apply transition;
  &.loading {
    @apply bg-gray-200;
    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) #ccc;
    background-size: 200% 100%;
    background-position-x: 150%;
    animation: 2s loading ease-in-out infinite;
  }
}

@keyframes loading {
  to {
    background-position-x: -50%;
  }
}