.--soku-modal-mask {
  @apply transition;
  @apply fixed top-0 left-0;
  @apply w-screen h-screen;
  @apply z-50;
  background-color: rgba(0, 0, 0, .5);
  
  .modal {
    background-color: var(--bg-c);

    @apply h-fit;
    @apply mt-10 mx-auto;
    @apply rounded-md;
    @apply overflow-hidden;

    .title {
      background-color: var(--bg-lg-c);
      @apply text-xl font-thin;
      @apply pl-5 py-1;
    }

    .main-container {
      @apply py-3;
    }
  }
}