.--soku-sidebar {
  background-color: var(--bg-c);
  color: var(--font-c);

  @apply relative z-40;
  @apply w-[250px] h-screen flex-shrink-0;
  @apply shadow-2xl;
  @apply select-none;
  @apply flex flex-col justify-between;

  .header {
    border-bottom: 2px solid var(--bg-lg-c);
    @apply w-full h-[150px];
    @apply flex-shrink-0;
  }

  .main {
    @apply flex-grow;
    @apply overflow-scroll;
    .list {
      @apply transition;
      .title {
        @apply w-full h-[50px];
        @apply pl-5;
        @apply text-2xl;
        @apply leading-[50px];
        @apply transition;

        &:hover {
          background-color: var(--bg-lg-c);
        }

        &:active {
          background-color: var(--bg-lg-c);
        }
      }
    }
  }

  .footer {
    border-top: 2px solid var(--bg-lg-c);

    @apply w-full h-[100px];
    @apply flex-shrink-0;
  }
}
