.game-lobby {
  @apply px-10;

  .-container {
    @apply w-full max-w-[1000px] h-fit;
    @apply rounded-sm overflow-hidden;
    @apply mx-auto;
    @apply px-8 pb-10;

    .title {
      background-color: var(--bg-lg-c);
      @apply text-2xl font-thin;
      @apply px-2 py-1;
    }
  }
}

.animate {
  animation: move-one-step 7s linear infinite;
}

@keyframes move-one-step {
  to {
    transform: translateX(-200px);
  }
}
