.--soku-skeleton {
  @apply w-full h-[200px];
  @apply overflow-hidden;
  @apply rounded-md;
  @apply cursor-pointer;

  &:hover {
    box-shadow: var(--shadow);
  }

  .record-card {
    background-color: var(--bg-lg-c);

    @apply w-full h-full;

    .avatars {
      background-color: var(--bg-c);
      @apply flex items-center justify-between;
      @apply w-[200px];
      @apply mx-auto p-1;
      @apply rounded-full;

      .avatar {
        @apply w-[40px] h-[40px];
        @apply rounded-full;
        @apply overflow-hidden;
      }
    }
    .time {
      @apply w-fit;
      @apply mx-auto mt-4;
    }
  }
}
