@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*:disabled {
  cursor: not-allowed;
  position: relative;
  overflow: hidden;
}

*:disabled::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-xl-c);
  opacity: 0.5;
}

canvas {
  background-color: rgba(255, 255, 255, 0);
}

* {
  color: var(--font-c);
}

.default {
  --soku-btn-c: #eee;
  --soku-router-link-hover-c: rgb(226 232 240);
  --soku-router-link-active-c: rgb(203 213 225);
  --bg-c: rgb(250 250 250);
  --bg-lg-c: rgb(235 235 235);
  --bg-xl-c: rgb(220 220 220);
  --shadow: 0 3px 10px #ccc;
  --font-c: #333;
}

.dark {
  --soku-btn-c: rgb(54 54 54);
  --soku-router-link-hover-c: rgb(10 10 10);
  --soku-router-link-active-c: rgb(0 0 0);
  --bg-c: rgb(64 64 64);
  --bg-lg-c: rgb(54 54 54);
  --bg-xl-c: rgb(30 30 30);
  --shadow: 0 3px 10px rgb(20 20 20);
  --font-c: #ddd;
}

input, select {
  color: var(--font-c);
  background-color: var(--bg-lg-c);
}

.--change-theme-transition, .--change-theme-transition * {
  transition: 1s;
}